/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	display: block;
	width: 100%;
	height: 100%;
}
button,input{
	outline: 0;
}
a{
	text-decoration: none;
}
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}
.m_6{
	margin-top:6px ;	
}
.p_0{
	padding: 0;
}
.p_3{
	padding:  0 3px;
}
.m_15{
	margin-top: 15px;
}
.p_50{
	padding: 0 50px;
}
.p_80{
	padding: 80px 0;
}
.m_20{
	margin-bottom: 20px;
}
.p_r{
	position: relative;
}
html,body,.warper{
	height: 100%;
}
.hide{
	display: none;
}
.btn-active{
	background-color: #39a030;
	color:#ffffff;
}
.btn-normal{
	background-color: #ffffff;
	color: #666666;
}
.debounce {
    -webkit-animation: 500ms rw linear;
}
@-webkit-keyframes rw {
    20% {
        transform: scale(1.3);
    }
    /*30%{*/
        /*transform: scale(1.1);*/
    /*}*/
    /*50%{*/
        /*transform: scale(0.9);*/
    /*}*/

    100% {
        transform: scale(0);
    }
}

